<!DOCTYPE html>
<html>
<head>
    <title>Angular Command Handling Example</title>
</head>
<body ng-app="dempApp" ng-controller="DemoController">
    <h1>Angular Command Handling Example</h1>
    <button ng-click="sendAcceptedCommand()">Command That Is Accepted</button>
    <button ng-click="sendRejectedCommand()">Command That Throws Problem Details Exception</button>

    <pre>{{result}}</pre>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="angularexample.js"></script>
</body>
</html>